<header class="w-100 text-center pt-2">
    <h1 class="banner-text">♠ Blackjack ♠</h1>
</header>
<div class="d-flex flex-grow-1">
    <div class="d-flex align-items-center justify-content-center">
        <button class="btn btn-primary" (click)="this.startButtonClick.emit()">Start</button>
    </div>
</div>
<footer class="w-100 d-flex align-items-center justify-content-between pb-2">
    <a class="github-link" href="https://github.com/GyDavid22/blackjack-angular">GitHub</a>
    <div>Me</div>
</footer>